.header {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.mainContent {
    padding: 16px;
}

.logo {
    text-align: center;
    padding: 20px;
}

.menu {
    border: none;
}

.sider {
    border-right: 1px solid #bebebe33;
}

.collapseIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
