@import 'tailwindcss';

html,
body,
#app {
  height: 100%;
}

#app > .ant-layout {
  height: 100%;
}

#app > .ant-layout > .ant-layout-content {
  overflow-y: auto;
}

.icon {
  width: 20px;
  height: 20px;
}

:root {
  --color-layout-bg: #fff;

  --layout-header-height: 50px;
  --layout-gap: 16px;

  --primary-color: var(--ant-primary-color);
}
